.header span{
    font-size: 16px;
    font-weight: 600;
}
.header {
    position: sticky;
    width: 100%;
    top: 0; left: 0; 
    background-color: #5b5b5b;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    z-index: 1;
}
.cntr {
    padding: 10px; 
}
.header-button{
    border-radius: 10px;
    margin-right: 30px;
    align-items: center;
    border: 2px solid #000000;
    outline: none;
    background-color: #ffffff00;
    color: #000000;
    cursor: pointer;
}

.header-button:hover{
    background-color: #282828;
    transition: 0.2s;
    color: #ffffff;
    border-radius: 7px 0px 7px 0px;
    border-color: #282828;
}