

h2{font-size: 30px; color: white;}
p { margin: 0 0 15px; line-height: 24px; color: gainsboro; }


.tabs {
  position: relative;
  display: flex;
  height: 700px;
  overflow: hidden;
  width: 1570px;
  margin:0px
}

.tabby-tab {
  flex: 1;
}

.tabby-tab label {
  display: block;
  box-sizing: border-box;
  color:white;
  /* tab content must clear this */
    height: 40px;
  
  padding: 10px;
  text-align: center;
  background:  #222222;;
  cursor: pointer;
  transition: background 0.5s ease;
  
  
}

.tabby-tab label:hover {
  background: #00b386;
}

.tabby-content {
  position: absolute;
  
  left: 0; bottom: 0; right: 0;
  /* clear the tab labels */
    top: 40px; 
  
  padding: 20px;
  border-radius: 0 0 8px 8px;
  background: black;
  
  transition: 
    opacity 0.8s ease,
    transform 0.8s ease   ;
  
  /* show/hide */
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
  
}




/* MAKE IT WORK ----- */

.tabby-tab [type=radio] { display: none; }
[type=radio]:checked ~ label {
  background: #00b386;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .tabby-content {
  z-index: 1;
  
  /* show/hide */
    opacity: 1;
    transform: scale(1);
}

/* BREAKPOINTS ----- */
@media screen and (max-width: 767px) {
  .tabs { min-height: 400px;}
}

@media screen and (max-width: 480px) {
  .tabs { min-height: 580px; }
  .tabby-tab label { 
    height: 60px;
  }
  
}
.block-1{
  background-color: #00b386;
  width:500px;
  height: 350px;
}
.block{
margin:40px;
display: flex;
flex-direction: row;
justify-content: space-around;

}
.block-1{
  background-color:#222222;
  height: 400px;
  width:600px
}

.block-head{
  display: flex;
  flex-direction: row;
  padding: 40px;
  
}
.block-1{
  color: white;
  

}
.content{
  padding-left:40px

}
.link{
  color: white;
  border-bottom:  #00b386;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
}
.link:hover{
  color: #00b386;
  transition: 0.2s;
}