.header span{
    font-size: 16px;
    font-weight: 600;
}
.header {
    position: sticky;
    width: 100%;
    top: 0; left: 0; 
    background-color: #5b5b5b;
    height: 70px;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    z-index: 1;
    background-color: #000000;
}
.cntr {
    padding: 10px; 
}
.header-button{
    border-radius: 10px;
    border: 2px solid #000000;
    outline: none;
    background-color:#00b386;
    color: #000000;
    cursor: pointer;
    border: none;
}

.header-button:hover{
    background-color:#00e7ad;
    transition: 0.2s;

}
.dotstock{
    color: white;
    margin-right: 700px;
   
}
.search-box{
    margin-right: 100px;
    
}
#search-button{
    padding: 4px;
    width: 300px;
    border-radius: 6px;
    color: #5b5b5b;
    background-color: #ebe8e8;
    border: none;
}