.navbar span{
    font-size: 20px;
    font-weight: 600;
    
}
.navbar-bg{
    position: sticky;
    width: 100vw;
    top: 0; left: 0; 
    background-color: #222222;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    z-index: 9998;
}
.navbar {
    position: sticky;
    width: 50vw;
    top: 0; left: 0; 
    background-color: #222222;
    height: 60px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
    z-index: 9999;
}

.navbar-button{
    align-items: center;
    border-radius: 3px;
    border:none;
    background-color: #222222;
    color: #ffffff;
    cursor: pointer;
}

.navbar-button:hover {

    color: #000000;
    background-color: #fdd835;
    
}

.navbar-cntr{
    display: flex;
    align-items: center;
    padding: 5px 10px; 
}
.trade-page {
    background-color: #fdd835;
    color: #000000;
  }
  .trade-page:hover{
    background-color: #fdd835;
    color: #000000;
  }
  