.news-card-img{
    height: 200px;
    object-fit: cover;
    opacity: .8;
}
.news-card:hover .news-card-img{
    opacity: 1;
}
.news-card-body{
    background-color: #222222;
    width: 400px;
}
.news-card-title{
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
}
.news-card:hover .news-card-title{
    color: #00b386;
}