.home-cont{
  width: 100%;
}
.home-bg{
  width: 100%;
  display: flex;
  height: calc(1080px - 70px);
  background-image: url('../resources/meta-bg3.jpg');
  background-size: cover;
}
.home-contents{
  margin: 70px 0px 0px 300px;
  color: #ffffff;
}
.home-contents-title{
  font-size: 66px;
  font-weight: 700;
}
.home-play-button {
  margin: 20px 30px 20px 0px;
  padding: 7px 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px 0px 10px 0px;
  align-items: center;
  border: 3px solid #7a539a;
  outline: none;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}
.home-play-button:hover {
  
  background-color: #7a539a;
  color: #fff;
  border-radius: 7px 0px 7px 0px;
}
.home-signin-button {
  padding: 7px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px 0px 10px 0px;
  align-items: center;
  border: 3px solid #7a539a;
  outline: none;
  background-color: #fff;
  color: #000000;
  cursor: pointer;
}
.home-signin-button:hover {
  
  background-color: #7a539a;
  color: #fff;
  border-radius: 7px 0px 7px 0px;
}

.home-tutorial-1{
  display: flex;
  background-color: #7a539a61;
  height: 1080px;
}
.home-tutorial-1-contents{
  
  display: flex;
  justify-content: center;
  margin: 225px auto 0px auto;
  
}
.home-tutorial-1-des{
  text-align: left;
  padding: 50px 0px 50px 50px;
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 20px 0px 20px 0px;
}
#business-woman{
  margin: 301px 0px 0px -120px;
}
.home-tutorial-2{
  background-color: #ffffff;
  height: 1080px;
}
.home-tutorial-2-contents{
  display: flex;
}
.home-tutorial-2-des{
  margin: 200px auto;
}
/* .home-tutorial-3{
  background-color: #7a539a61;
  height: 100vh;
} */