.home-cont{
  width: 100%;
}
.home-front{
  display: flex;
  justify-content:space-around;
}
.home-bg{
  width: 100%;
  background-color: #000000;
  /* background-image: url("../resources/bg-smoke.png"); */
}
.home-contents{
  margin: 70px 0px 0px 300px;
  color: #ffffff;
}
.home-contents-title{
  font-size: 66px;
  font-weight: 700;
}
.home-play-button {
  margin: 20px 30px 20px 0px;
  padding: 7px 15px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px 0px 10px 0px;
  align-items: center;
  border: 3px solid #FFB506;
  outline: none;
  background-color: #ffffff00;
  color: #ffffff;
  cursor: pointer;
}
.home-play-button:hover {
  
  background-color: #FFB506;
  color: #000000;
  border-radius: 7px 0px 7px 0px;
}
.home-signin-button {
  padding: 7px 30px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px 0px 10px 0px;
  align-items: center;
  border: 3px solid #FFB506;
  outline: none;
  background-color: #ffffff00;
  color: #ffffff;
  cursor: pointer;
}
.home-signin-button:hover {
  
  background-color: #FFB506;
  color: #000000;
  border-radius: 7px 0px 7px 0px;
}

.home-tutorial-1{
  display: flex;
  background-color: #bc13fe61;
  height: 1080px;
}
.home-tutorial-1-contents{
  
  display: flex;
  justify-content: center;
  margin: 225px auto 0px auto;
  
}
.home-tutorial-1-des{
  text-align: left;
  padding: 50px 0px 50px 50px;
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  border-radius: 20px 0px 20px 0px;
}
#business-woman{
  margin: 301px 0px 0px -120px;
}
.home-tutorial-2{
  background-color: #ffffff;
  height: 1080px;
}
.home-tutorial-2-contents{
  display: flex;
}
.home-tutorial-2-des{
  margin: 200px auto;
}
.home-getstarted{
  display: flex;
  justify-content: center;
  

}
.getstarted-options{
  width: 300px;
  height: 250px;
  border:5px solid #FFB506;
  margin-right: 50px;
}