.login-cont{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    background: url("dotstock-bg-2.png") no-repeat;
    background-size: cover;

}
.login-cont input{
    color: #ffffff;
}
.login-bg{
    width: 1200px;
    height: 600px;
    display: flex;
    margin: 100px auto;
}
 .login-left-bg{
    background-color: #fdd835;
    background-image: url("signinorregister-bg.png");
    background-size: cover;
    border-radius: 10px 0px 0px 10px;
    width: 600px;
   
}
.login-left-text-1{
    display: flex;
    color: #222222;
    justify-content: flex-start;
    margin: 70px 0px 100px 50px;
}
.login-left-box{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 250px 0px 0px 50px;
    background-color: #222222;
    animation: width-animation 1s linear 0s infinite alternate-reverse none;
}
.login-left-text-2{
    margin: 0px 0px 0px 0px;
    position: relative;
}
.login-left-text-input{
    position: absolute;
    left: 8%;
    font-size: 34px;
    font-weight: 700;
    color: #222222;
    animation: switch 4s infinite ease-in-out;
    
}
.login-left-text-input:nth-child(1) {
    animation-delay: 2s;
}
 
.login-left-text-input:nth-child(2) {
    animation-delay: 8s;
}

.login-right-bg{
    background-color:#222222;
    width: 600px;
    border-radius: 0px 10px 10px 0px;
}
.login-title-box{
    display: flex;
}
.login-title{
    font-size: 36px;
    margin: 45px auto 0px auto;
    color: #ffffff;
    font-weight: 600;
}
.login-email-box{
    margin-top: 50px;
}
.login-email-label{
   margin: 0px 0px 0px 125px;
}
.login-email-input{
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: #222222;
    margin: 0px auto;
    cursor: text;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    &:focus {
    outline: none !important;
    margin-top: 10px;
    border-bottom: 1px solid #fdd835;
    }
}
.login-password-box{
    margin-top: 30px;
}
.login-password-label{
   margin: 0px 0px 0px 125px;
}
.login-password-input{
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: #222222;
    margin: 0px auto;
    cursor: text;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    &:focus {
    outline: none !important;
    margin-top: 10px;
    border-bottom: 1px solid #fdd835;
    }
}
.login-button-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.login-button-click{
    cursor: pointer;
    width: 350px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    background-color: #fdd835;
    color: #000000;
}
.login-button-click:hover{
    background-color: #fdf335;
}
.login-no-account{
    display: flex;
    margin: 20px 0px 0px 125px;
    cursor: pointer;
}
.login-create-account{
    color: #ffffff;
}
.login-create-account-link{
    color:#fdd835;
}

