.portfolio-container{
    width: 84vw;
    margin: 50px auto 50px auto;
}
.portfolio-user-and-holdings{
    display: flex;
    justify-content: center;
}
.portfolio-user-box{
    width: 20vw;
    background-color: #131722;
    color: #ffffff;
    margin: 0px 30px 0px 0px;
}
.portfolio-holdings-box{
    width: 20vw;
    background-color: #131722;
    margin: 0px 30px 0px 0px;
}
.portfolio-user-data{
    margin: 20px 50px 0px 50px;
}
.portfolio-holdings-data{
    margin: 20px 42px 0px 42px;
}
.portfolio-content-title{
    margin: 20px 0px 30px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #fdd835;
}
.portfolio-transactions-data{
    margin: 0px 0px 0px 0px;
}
.portfolio-user-title{
    margin: 0px 0px 30px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #fdd835;
}
.portfolio-graphs{
    display: flex;
    justify-content: space-around;
  }
.portfolio-graph-box{
    width: 40vw;
    cursor: pointer;
    background-color: #131722;  
}
.portfolio-graph-data{
    margin: 20px 50px 0px 50px;
}
.portfolio-padding-small{
    margin: 0px 0px 10px 0px;
    font-size: 16px;
    font-weight: 400;
    color: #b5b5b5;
}
.portfolio-padding-large{
    margin: 0px 0px 25px 0px;
    font-size: 25px;
    font-weight: 600;
}
.portfolio-holdings-and-transactions{
    display: flex;
    justify-content: space-around;
}

.portfolio-transactions-box{
    width: 82vw;
    background-color: #131722;
    display: flex;
    justify-content: center;
    margin: 50px auto 50px auto;
}

.portfolio-table {
    color: white;
    background-color: #131722;
    border: 2px solid rgb(255, 255, 255); /* Add blue border */
  }
  .transaction-table-width{
    width: 76vw;
    margin: 0px auto 50px auto;
  }
  .portfolio-table-width{
    width: 15vw;
    margin: 20px auto;
  }
  
  .portfolio-table th,
  .portfolio-table td {
    border: 1px solid rgb(245, 244, 182); /* Add borders between rows and columns */
    text-align: center;
    padding: 10px; /* Adjust padding as needed */
  }
  
  .portfolio-table-header {
    padding: 20px; /* Adjust padding as needed */
  }
  .portfolio-table-cell{
    padding: 20px;
  }
  
