.register-bg{
    width: 1200px;
    height: 680px;
    display: flex;
    margin: 0px auto;
}
 .register-left-bg{
    background-color: #fdd835;
    background-image: url("signinorregister-bg.png");
    background-size: cover;
    width: 600px;
   
}
.register-right-bg{
    background-color:#ffffff;
    width: 600px;
}
.register-title-box{
    display: flex;
}
.register-title{
    font-size: 36px;
    margin: 45px auto 0px auto;
    color: #000000;
    font-weight: 600;
}
.register-google-box{
    width: 350px;
    margin: 30px auto;
    display: flex;
    cursor: pointer;
    border: 1px solid #b5b5b5;
    border-radius: 7px;
}
.register-google-button{
    margin: 0px auto;
    display: flex;
    
}
.register-google-icon{
    width: 30px;
    padding: 10px;
}
.register-google-text{
    font-weight: 500;
    padding: 15px 0px 0px 0px;
}
.register-or-line{
    border-top: 1px solid #b5b5b5;
    width: 65px;
    margin-top: 10px;
}
.register-or-box{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.register-or-text{
    font-weight: 500;
    padding: 0px 100px;
}
.register-email-box{
    margin-top: 30px;
}
.register-email-label{
   margin: 0px 0px 0px 125px;
}
.register-email-input{
    width: 350px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    cursor: text;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    &:focus {
    outline: none !important;
    margin-top: 10px;
    border-bottom: 1px solid #fdd835;
    }
}
.register-password-box{
    margin-top: 30px;
}
.register-password-label{
   margin: 0px 0px 0px 125px;
}
.register-password-input{
    width: 350px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    cursor: text;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    &:focus {
    outline: none !important;
    margin-top: 10px;
    border-bottom: 1px solid #fdd835;
    }
}
.register-confpassword-box{
    margin-top: 30px;
}
.register-confpassword-label{
   margin: 0px 0px 0px 125px;
}
.register-confpassword-input{
    width: 350px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
    cursor: text;
    border: none;
    border-bottom: 1px solid #b5b5b5;
    &:focus {
    outline: none !important;
    margin-top: 10px;
    border-bottom: 1px solid #fdd835;
    }
}
.register-button-box{
    margin-top: 50px;
    display: flex;
    justify-content: center;

}
.register-button-click{
    cursor: pointer;
    width: 350px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    background-color: #fdd835;
    color: #000000;
}
.register-no-account{
    display: flex;
    margin: 10px 0px 0px 125px;
    cursor: pointer;
}
.register-create-account{
    color: #000000;
}
.register-create-account-link{
    color:#fdd835;
}

