.trade-container{
    width: 84vw;
    display: flex;
    background-color: #131722;
    margin: 20px auto 30px auto;
}
.trade-container input{
    color: #ffffff;
}
.trade-container label{
    color: #ffffff;
}
.trade-form-box{
    width: 84vw;
    margin: 30px 0px 50px 0px;
}
.trade-search-and-result{
    display: flex;
    justify-content: flex-start;
    margin: 0px 0px 0px 50px;
}
.trade-search-input{
     width: 50vw;
     background-color: #131722;
     padding: 5px 10px;
     margin: 0px auto;
     cursor: text;
     border: none;
     border: 1px solid #b5b5b5;
     border-radius: 5px;
     &:focus {
     outline: none !important;
     border: 1px solid #fdd835;
     border-radius: 5px;
     }
 }

.trade-user-and-price{
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 0px 50px;
}
.trade-user-input{
    width: 30vw;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    background-color: #131722;
    margin: 0px 50px 0px 0px;
    cursor: text;
    border: none;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    &:focus {
    outline: none !important;
    border: 1px solid #fdd835;
    border-radius: 5px;
    }
}
.trade-price-input{
    width: 22vw;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    background-color: #131722;
    margin: 0px 50px 0px 0px;
    cursor: text;
    border: none;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    &:focus {
    outline: none !important;
    border: 1px solid #fdd835;
    border-radius: 5px;
    }
}

.trade-stocks-and-action{
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 0px 50px;
}
.trade-stocks-input{
    width: 30vw;
    display: flex;
    padding: 5px 10px;
    justify-content: center;
    background-color: #131722;
    margin: 0px 50px 0px 0px;
    cursor: text;
    border: none;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    &:focus {
    outline: none !important;
    border: 1px solid #fdd835;
    border-radius: 5px;
    }
}
.trade-action-options{
    cursor: pointer;
    width: 29vw;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    margin: 0px 50px 0px 0px;
    border: 1px solid #b5b5b5;
    border-radius: 5px;
    background-color: #fdd83500;
    color: #ffffff;
    &:focus {
    outline: none !important;
    border: 1px solid #fdd835;
    border-radius: 5px;
    }
}

.trade-clear-and-order{
    display: flex;
    justify-content: flex-start;
    margin: 50px 0px 0px 50px;
}
.trade-clear{
    cursor: pointer;
    width: 14vw;
    padding: 12px;
    font-size: 16px;
    margin: 0px 57px 0px 0px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #b5b5b5;
    color: #000000;
}
.trade-clear:hover{
    background-color: #ffffff;
}

.trade-order{
    cursor: pointer;
    width: 14vw;
    padding: 12px;
    font-size: 16px;
    margin: 0px 50px 0px 0px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: #fdd835;
    color: #000000;
}
.trade-order:hover{
    background-color: #fdf335;
}
.trade-search-display{
    width: 30vw;
    border: 1px solid #b5b5b5;
    border-radius: 7px;
    padding: 15px 20px;
    margin: 20px 0px 0px 50px;
    &:hover {
    outline: none !important;
    border: 1px solid #fdd835;
    }
}
.trade-search-result{
    color: #ffffff;
    cursor: pointer;
}
.trade-error-result{
    color: #ffffff;
    cursor: pointer;
}
.trade-search-result:hover{
    color: #fdd835;
}
.trade-action-options-list{
    cursor: pointer;
    background-color: #222222;
    color: #ffffff;
    border: none;
}
.trade-movement-color{
    color: red;
}
